@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}
/* HEADER */

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 5px;
}
.logo {
    display: flex;
    align-items: center;
}
.circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.logo-circle {
    display: flex;
    flex-direction: column;
    margin-right: 6px;
}
.logo-circle .circle-1{
    background-color: #887a9c;
    margin-left: 10px;

}
.logo-circle .circle-2{
    background-color: #4F93A6;

}
/* About */
.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 60px 0px;
    overflow: hidden;
}
.about .about-picture {
    display: flex;
    align-items: center;

}
.about .about-picture img {
    width: 100%;
    height: 100%;
    max-width: 110px;
    max-height: 110px;
    border-radius: 50%;
    padding: 5px  ;
    transition: .3s;
}
.about .about-picture img:hover {
    transform: translateY(-5px);
}
.about-picture .col-1 {
    margin-left: -20px;
}
.about-picture .col-6 {
    margin-right: -40px;
}
.col-2, .col-5 {
margin-bottom: 5.5rem;
}
.about .about-info {
    margin: 0 3.4rem;
}
.about .about-info p,h1 {
    text-align: center;
}
.about-info h1 {
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.7px;
}
.about-info p {
    font-size: 0.87rem;
    letter-spacing: 0.9px;
    font-weight: 500;
    color: rgb(160, 154, 154);
    margin: 1.25rem 0;
}
.about .about-info .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.about-info a {
    text-decoration: none;
    padding: 0.85rem 2.19rem;
    display: inline-block;
    color: #fff;
    font-size: 0.75rem;    
    border-radius: 2.19rem ;
    font-weight: bold;
}
.about-info span {
    background-color: #4F93A6;
    color: #a0d1df;
}
.about-info .btn-1 {
    background-color: #4F93A6;
    margin-right: 0.7rem;
    margin-bottom: 5px;
}
.about-info .btn-2 {
    background-color: #887a9c;

}
/* LINE 1 */
.line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3.75rem 0;
}
.line .limit {
    border: 1px solid #ddd;
    
    height: 55px;
}
.line .line-circle {
    width: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    color: #777;
    font-weight: bold;
    font-size: 14px;
}
/* Content */
.container {
    
    margin: 0 3.1rem;
}
.container .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .content img{
    width: 100%;
    max-width: 200px;
    margin: 10px 5px;
    border-radius: 13px;

}
.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.information h4 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #599aac;
    letter-spacing: 1.8px;
    text-align: center; 
}
.information h2 {
    font-size: 30px;
    text-align: center;
    line-height: 1.2; 
    font-weight: bold;
}
.information p {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.9px;
    font-weight: 500;
    margin: 20px 0;
    color: rgb(160, 154, 154);
}
/* FOOTER */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 300px;


}
.footer-picture {
    width: 100%;
    height: 300px;
    background-image: url(img2/footer2.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;

}
.footer-info {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
    background-color: #599aacb2;
}
.footer-info h4,p {
    background-color: transparent;
    color: #fff;

}
.footer-info h4 {
    font-size: 24px;
    margin: 10px 70px;
    letter-spacing: 1.2px;

}
.footer-info p {
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
}
.footer-info a {
    padding: 15px 35px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #887a9c;
    margin-bottom: 15px;
    margin-right: 70px;
    margin-left: 70px;
    text-align: center;
    border-radius: 35px;
    font-size: 12px;
}
.footer-info span {
    background-color: #887a9c;
    color: #a0d1df;
    font-size: 12px;


}
/* Responsive */
 @media screen and (max-width: 870px ) {
    .footer-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
    .about {
        flex-direction: column;
    }
    .about-info h1 {
        font-size: 35px;

    }
    .about-info p {
        font-size: 12px;
    }
    .about-info {
        display: flex;
        flex-direction: column;
    }
 }